<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<h1 class="text-center">How Text Generator Works</h1>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">

			<p ng-click="about.myclick()">
				First, get a link from the repository and fetch the page from the web. Then extract the links from the page and add them
				to the repository for future processing.  Finally, extract the text from the page, converting all alpha characters to lower case and
				all non-alpha characters to spaces.  This creates a total of 27 characters. (26 alphabet + 1 space)
			</p>
			<div style="margin: 0 auto; width:500px;">
				<span ng-include="'images/collect.svg'"></span>
			</div>
			<p>
				Next, process the extracted text.  Build 3 catalogs: one for single-character sequences, one for four-character sequences and one for
				eight-character sequences.
			</p>

			<div style="margin: 0 auto; width:500px;">
				<span ng-include="'images/process.svg'"></span>
			</div>

			<p>
				The potential size of the catalogs grows exponentially, so the single-character catalog has only 27 entries, whereas the
				eight-character catalog has the potential to grow to over 282 billion entries.
			</p>

			<p>{{about.quote}}</p>

			<div mathjax-bind="about.expression1"></div>
			<div mathjax-bind="about.expression4"></div>
			<div mathjax-bind="about.expression8"></div>

			<p>
				The number of occurrences of a particular sequence is recorded in the catalog.  So the first few entries in a catalog look like this:
			</p>

			<p>
				In order to generate text from an N-character catalog, a starting sequence is chosen from the catalog based on the weight
				(number of occurences) of the sequence. Then each subsequent selection from the catalog is based on the trailing N-1 characters
				of the previously selected sequence.
			</p>

		</div>
	</div>
</div>


