/* This creates a positioned div for ui-layout to live inside */
.main-container {
  /*position:absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;*/
  margin-top: 60px;
}
#generate-button {
  margin: 30px 0;
}
.navbar {
  background-color: #f3f3f3;
  border-radius: 0;
}
/* Top navigation Hide default border to remove 1px line */
.navbar-fixed-top {
  border: 0;
}
.nav-tabs {
  margin-top: 11px;
}
.pager li a {
  width: 125px;
}
.navbar-header img {
  height: 23px;
  width: 115px;
  margin: 14px 20px 0 10px;
}
