
node_modules
bower_components

*.sublime-workspace
*.sublime*.cache
*.tmp
*.log

# redis dump
dump.rdb

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
