<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
      <h1>Text Generator</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="center-block" style="width: 500px">
				<span class="h4">Select a character depth&nbsp;</span>
				<div class="btn-group" uib-dropdown uib-keyboard-nav>
			        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
			            {{home.selected.display}}&nbsp;<span class="caret"></span>
			        </button>
			        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
			            <li role="menuitem" ng-repeat="ch in home.chardepths" ng-click="home.select(ch)">
			        		<a href="#">{{ch.display}}</a>
			        	</li>
			        </ul>
			    </div>
				<span class="h4">&nbsp;and&nbsp;</span>
				<a class="btn btn-primary" href="#" role="button" ng-click="home.go()">Go!</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<hr/>
			{{home.text}}
		</div>
	</div>
</div>
