<div id="home-page" class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
      <h1 class="text-center">Text Generator</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="center-block tg-buttons">
				<div class="btn-group" uib-dropdown uib-keyboard-nav>
	        <button id="char-depth-btn" type="button" class="btn btn-primary" uib-dropdown-toggle>
	          {{home.selected.display}}&nbsp;<span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="char-depth-btn">
	          <li role="menuitem" ng-repeat="ch in home.chardepths" ng-click="home.select(ch)">
	        	  <a href="#">{{ch.display}}</a>
	        	</li>
	        </ul>
			  </div>
				<a href="#" class="btn btn-primary" role="button" ng-click="home.go()">Go!</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			{{home.text}}
		</div>
	</div>
</div>
