<div class="container-fluid"> 
  <div class="row">
    <div class="col-xs-2">
      <h4>Character depth:&nbsp;</h4>
      <div class="btn-group" uib-dropdown uib-keyboard-nav>
        <button id="selected-depth-btn" type="button" class="btn btn-primary" uib-dropdown-toggle>
            {{stats.selectedDepth.display}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="selected-depth-btn">
            <li role="menuitem" ng-repeat="d in stats.depths" ng-click="stats.selectDepth(d)">
             <a href>{{d.display}}</a>
          </li>
        </ul>
      </div>
    </div>  
    <div class="col-xs-10">
     <div vertical-chart data="stats.dist"></div> 
    </div>
  </div>
  <div class="space-10"></div>
  <div class="row">
    <div class="col-sm-12">
      <div horizontal-chart data="stats.stats" mouseover="stats.mouseover"></div>
      <div class="space-30"></div>
    </div>
  </div>
</div>


